#listGamepads {
  font-family: monospace;
}

.image-btn {
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
}

.container {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the content horizontally */
}

.container > div {
  display: flex; /* Use flexbox for inner divs */
  flex-direction: column; /* Align buttons vertically */
  margin: 0 10px; /* Add some margin between the divs */
}
